.create_acc_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
}
.top_pic {
    display: none;
}

h1 {
    margin-top: 123px;
    font-family: "Open Sans", sans-serif;
    color: #3C3C3C;
    font-size: 40px;
}

.decor_login {
    opacity: 1;
    margin-bottom: 67px;
}

.inputs_container {
    background-color: #F0F1F1;
    width: 384.5px;
    height: 360px;
    margin-bottom: 53px;
}

input {
    z-index: 500;
    height: 40px;
}

label {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #3C3C3C;
    font-weight: bold;
}

.password_label {
    margin-top: 0;
}

.confirm_password_label {
    margin-top: 0;
}

.email_input_login, .password_input_login, .password_confirm {
    margin-left: 67.25px;
    margin-right: 67.25px;
}

.password_input_login {
    margin-bottom: 40px;
}


.login_buttons_container {
    width: 504px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.create_acc_button {
}
